@model List<MovieReportInnerJoinModel>

@{
    ViewBag.Title = "Movies Report";
}

<h2>@ViewBag.Title</h2>

@if (Model != null && Model.Count > 0)
{
    <p>
        @Model.Count records found.
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MovieProductionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MovieBoxOfficeReturn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DirectorFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DirectorRetired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ReviewContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ReviewRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ReviewReviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ReviewDate)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.FirstOrDefault().MovieName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstOrDefault().MovieProductionYear)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstOrDefault().MovieBoxOfficeReturn)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstOrDefault().DirectorFullName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstOrDefault().DirectorRetired)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstOrDefault().ReviewContent)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstOrDefault().ReviewRating)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstOrDefault().ReviewReviewer)
                </td>
                <td>
                    @Html.DisplayFor(model => model.FirstOrDefault().ReviewDate)
                </td>
            </tr>
        }

    </table>
}
else
{
    <p>No records found.</p>
}
