@*@model IEnumerable<_036_MoviesMvcBilgeAdam.Entities.Review>*@
@model List<ReviewModel>

@{
    ViewBag.Title = "Review List";
}

<h2>Review List</h2>

<p>
    @Html.ActionLink("New Review", "Create")
</p>

@if (Model != null && Model.Count > 0)
{
    <table id="reviews" class="display" style="width: 100%;">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Movie.Name)*@
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Movie.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Reviewer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Rating)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.FirstOrDefault().Date)*@
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DateText)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reviewer)
                    </td>
                    <td style="width: 8%;">
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td style="width: 8%;">
                        @*@Html.DisplayFor(modelItem => item.Date)*@
                        @Html.DisplayFor(modelItem => item.DateText)@* İngilizce formatlı tarih *@
                    </td>
                    <td style="width: 15%; text-align: right;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-secondary">No reviews found.</p>
}

@section scripts
{
    <link href="~/Plugins/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Plugins/DataTables/js/jquery.dataTables.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $('#reviews').DataTable({
                "language": {
                    //"url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Turkish.json"
                    //"url": "/Plugins/DataTables/files/DataTablesTurkish.json"
                }
            });
        });
    </script>
}
